@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --bg-color:#FCF6FC;
    --primary-pink: #b93857;
    --primary-green:#0A846E;
    --primary-brown: #9e6d52;


}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  

    background-color: var(--bg-color);  
    font-family: "Open Sans", sans-serif;  
}

h1, h2, h3, h4, h5 {
    font-family: "Lato", sans-serif;
}
p.bold {font-weight: bold;
    font-family: "Open Sans", sans-serif;  
}

p.light {font-weight: lighter;

}

h5{ font-size: 1.2rem;


}
.wrapper {
  max-width: 1000px;
  width: 100%;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.058);
  margin: 0 auto;
  button {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;  
}
}

header {
  position: relative;
 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
 
  .header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    @media (max-width: 768px) {
      aspect-ratio: 2 / 3;
    }

    figure {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;

      &.left-image-svg {
        grid-row: span 2;
        background: url("https://images.unsplash.com/photo-1615671524701-9c3dde8fdaa0?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
          center / cover;

        @media (max-width: 768px) {
          grid-column: span 2;
        }

        img {
          width: 50%;
        }
      }

      &.right-top-image-svg {
        background-color: #9e6d52;
      }

      &.right-bottom-image-svg {
        background-color: var(--primary-green);
      }
      
      img {
        height: 100%;

        @media (max-width: 768px) {
          height: auto;
          width: 80%;
          
          
        }
      }
    }
  }
}

  nav {
    
    .navbar {
      display: flex;
      justify-content: space-evenly;

      @media (max-width: 768px) {
        display: none;
      }

      a {
        color: var(--primary-green);
        font-weight:500;
        font-size: 1.2rem; 
        padding: 1rem;
        transition: all 0.3s;

       
      }
    }


    .navbar-mobile {
      height: 2rem;
      margin: 0.5rem;
      position: absolute;
      top: 0;
      right: 0;
      display: none;

      @media (max-width: 768px) {
        display: block;
      }

      img {
        height: 100%;
        cursor: pointer;
      }
    }
  }


main {
    padding: 0 1 rem;

 
  h1 {
    color: #0A846E;
    
    font-weight: 500;
    
    font-size: 3rem;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }

  .season-tips-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
    position: relative;
  }
  
  .img-container, .text-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle {
    background-color: #0A846E;
    border-radius: 50%;
    width: 20rem;
    height: 20rem; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  circle img {
    width: 50%; 
    height: 50%; 
  }
  
  .text-container {
    flex-direction: column;
  }
  
  .text-container h4 {
    font-size: 1.5em;
    margin-bottom: 0.5rem;
    align-self: self-start;
  }
  
  .text-container p {
    font-size: 1em;
    margin-bottom: 1rem;
  }
  
  .text-container button {
    background-color: #0A846E;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 1em;
    display:block;
    border-radius:0.5rem;
    font-weight: bold;
  }
  .green-line {
    background-color: #055647;
    height: 0.2rem;
    width: 50%;
    margin: 5rem 0;
    align-self: center;
  }
  
  .planned-plants-container {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .planned-plants-title {
    
      font-size: 1.8rem;
      font-weight: bold;
      text-align: center;
      margin: 0 0 5 5; 
      padding-top: 2;
      padding-bottom: 5rem;
      }

 
.plantcards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem; 
  @media (max-width: 768px){
    grid-template-columns: 1fr 1fr;
    gap:1rem;
  }
  }
 
    .plantcard {
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.058);
        &:hover {
            box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.28);
            transition:all 0.3s;
            }
        }
        .plantcard-image {
                background-position:center ;
                background-size: cover;
                display: flex;
                justify-content: center;
                padding: 2rem 0;
           
            &.plant-1 {
                background-image: url(https://images.unsplash.com/photo-1518568403628-df55701ade9e?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
               
            }
            &.plant-2{
                background-image: url(https://images.unsplash.com/photo-1596199050105-6d5d32222916?q=80&w=2639&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
            }   

            &.plant-3 {
                background-image: url(https://images.unsplash.com/photo-1565698228480-eec300c9679b?q=80&w=2806&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
            }  
            &.plant-4 {
                background-image: url(https://images.unsplash.com/photo-1687878269804-63e8b50e3ddc?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
               
            }
            &.plant-5 {
                background-image: url(https://images.unsplash.com/photo-1555447740-03e40562af94?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
            }   
            &.plant-6 {
                    background-image: url(https://images.unsplash.com/photo-1627989230968-d0b8e2d1a398?q=80&w=2962&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
                    
                }
            } 

                .plantcard-text {
                    padding: 1rem;
                    .first-row {margin-bottom: 1rem; 
                    }
                    .first-row, .second-row {
                        display: flex;
                        justify-content: space-between;
                        button {background-color: var(--primary-pink);
                            color: white;
                            border:none;
                            border-radius: 7px;
                            padding: 0.4rem 0.7rem;
                            cursor: pointer;
                            &:hover {
                                background-color: #881b34;
                            }
                            @media (max-width:768px) {
                              display: none;
                            }
                        }
                    }
               
                } 
                img.remove {
                  width:2rem;
                  height: 2rem;
                  justify-self:end;
                  display:none;
                  @media (max-width: 768px){
                    display:block;
                  }

                }  
           

   
  .planned-plants-container button {
    background-color: #0A846E;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 1em;
    align-self: center;
    border-radius:0.5rem;
    font-weight: bold;
  }
  .text-container {
    flex-direction: column;
    justify-content: center;
    @media (max-width:768px) {
      text-align: center;
    }
  }
  
  .text-container h4 {
    font-size: 1.5em;
    margin-bottom: 0.5rem;
    align-self: self-start;
  }
  
  .text-container p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .text-container button {
    background-color: #0A846E;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 1em;
    align-self: self-start;
    border-radius:0.5rem;
    font-weight: bold;
  }

  .formerplants-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
    position: relative;
  }
  .formerplants-container, .text-container button {
    align-self: self-start;
    
}
  

}

    .footer {
      display: grid;
      grid-template-rows: 6fr 1fr;
      }
      
      .footer-content {
      background-image: url(https://images.unsplash.com/photo-1586281010691-f9da4be5b1f7?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      background-size: cover;
      background-position: center;
      color: white;
      display: grid;
      grid-template-columns: 1fr 1fr;
      }
      
      .contact-info {
      background-color: rgba(0, 0, 0, 0.7);
      display: grid;
      grid-template-columns:  1fr 1fr;
      grid-template-rows: 10fr 1fr;
      }
      .contact-info h2 {
      grid-column: 1/-1;
      align-self: center;
      justify-self: center;
      font-size: 3rem;
      }
      
      .telephone, .email {
      display: flex;
      font-size: 0.8rem;
      gap: 0.5rem;
      }
      
      .telephone {
      padding-left: 1rem;
      }
      
      .email{
      justify-self: end;
      padding-right: 1rem;
      }
      
      .contact-info img{
      width: 2vw;
      }
      
      .footer-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      }
      
      .footer a {
      color: black;
      background-color: white;
      border: none;
      font-size: 1.5rem;
      text-decoration: none;
      align-self: center;
      justify-self: center;
      }

@media screen and (max-width: 700px) {

  .wrapper {
    margin: 0;
  }
  
  header {
    display: grid;
    grid-template-rows: 1fr;
  }
  
  .nav-bar {
    display: none;
  }

  .img-container {
    grid-column: 1/-1;
    aspect-ratio: 1/1;
  }

.season-tips-container, .formerplants{
  flex-direction: column-reverse;
  }
  .content-container h4, .text-container p, .text-container button {
    align-self: center;
  }
  .formerplants-container  .text-container button {
    align-self: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  .contact-info {
    order:2;
  }
  
  .contact-info img{
    width: 5vw;
    }
  
  }

